作業目標:<br>
1.讀取各種檔案格式<br>
2.輸出各種檔案格式<br>

作業重點:<br>
1.不同檔案讀取方式皆不同，須了解檔案格式中的邏輯，例如:csv是以逗號分隔<br>
2.讀取、輸出檔案的程式碼不同，須注意使用方式

題目: <br>
讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

In [4]:
import pandas as pd

In [5]:
#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案
#boston_1 =pd.read_csv('boston.csv', usecols=['CHAS','NOX','RM'])
boston_1 = pd.read_csv('C:\\Users\\112178\\Desktop\\cupoy\\boston.csv', usecols=['CHAS', 'NOX', 'RM'])
boston_1

     CHAS    NOX     RM
0     0.0  0.469  6.421
1     0.0  0.469  7.185
2     0.0  0.458  6.998
3     0.0  0.458  7.147
4     0.0  0.458  6.430
..    ...    ...    ...
500   0.0  0.573  6.593
501   0.0  0.573  6.120
502   0.0  0.573  6.976
503   0.0  0.573  6.794
504   0.0  0.573  6.030

[505 rows x 3 columns]

In [6]:
boston_1.to_excel('boston_xls.xlsx')